<div class="container mt-4">
    <h2>Libros</h2>
    <a [routerLink]="['/add']" class="btn btn-primary mb-3">Agregar un nuevo libro</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Fecha de Publicación</th>
          <th>Genero</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.date_post }}</td>
          <td>{{ book.genre }}</td>
          <td>
            <a [routerLink]="['/edit', book.id]" class="btn btn-warning btn-sm">Editar</a>
            <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id!)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  